*{
    padding: 5;
    margin: 0;
}
body{
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #303030;
    overflow-x: hidden;
}

header{
    justify-content: center;
    display: flex;
    background-color: #303030;
    text-align: center;
    border: #FFFFFF;
}
.nav{ 
    border-radius: 40px;
    padding: 10px;
}
.nav-list{
    display: flex;
    color: bisque;
    font-size: 16px;
    align-items: center;
    gap: 32px;
    list-style: none;
    text-align: center;
    justify-content: space-between;
}
#download{
    color: #27C5FF;
}
.list2{
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 32px;
    text-decoration: none;
    list-style: none;
    text-align: end;
}
.nav-list a{
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-align: center;
}
.logo{
    max-width: 13vw;
}
nav{
    align-items: center;
    text-align: center;
    display: flex;
    background-color: #424242a8;
    margin-top: 2%;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 25px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #27C5FF, #27a8ff, #1b75b2, #26a7fe, #00ffd5, #002bff, #7a00ff, #27a8ff, #27C5FF);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 25px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 25px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.inicio{
    margin-top: 5%;
    text-align: center;
    font-size: 18px;
}

#banner{
    margin-top: -2%;
    text-align: center;
    font-size: 180px;
}

.sobre{
    max-height: 600px;
    margin-top: -10%;
    padding: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#tecno{
    color: #27C5FF;
}

.exp{
    padding: 2%;
    gap: 86px;
    margin-top: -10%;
    align-items: center;
    justify-content: center;
    display: flex;
}

h2{
    font-style: italic;
    font-size: 80px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    margin-bottom: 20px;
}

h3{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
}

.linha-vertical {
    height: 300px;
    border-left: 2px solid #2b2a2a;
    margin: 0 15px;
}

.edu-title{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.edu-itens{
    padding: 50px;
    justify-content: center;
    display: flex;
    gap: 128px;
}

.edu-itens2{
    padding: 50px;
    justify-content: center;
    display: flex;
    gap: 128px;
}

.edu-itens3{
    padding: 50px;
    justify-content: center;
    display: flex;
    gap: 128px;
}

.divisaoedu{
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
}

.video-pai{
    text-align: center;
}

video {
    border-radius: 16px;
    overflow: hidden;
}

.port{
    margin: 30px auto;
    border-radius: 50px 50px 0px 0px;
    background: #27C5FF;
    background: linear-gradient(180deg,rgba(39, 197, 255, 1) 0%, rgba(48, 48, 48, 1) 100%);
    gap: 64px;
}

.portTitle{
    padding: 2%;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    align-items: center;
}

.itens-port{
    padding: 5%;
}

.item1{
    padding: 2%;
    gap: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.itemdesc1{
    max-width: 50px auto;
}

.item2{
    padding: 2%;
    gap: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.item3{
    padding: 2%;
    gap: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.titledep{
    text-align: center;
    justify-content: center;
    margin-bottom: 4%;
}

.itensdep{
    justify-content: center;
    display: flex;
    gap: 50px;
}

.carddep{
    text-align: center;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    max-width: 450px auto;
    border-radius: 45px;
    padding: 2%;
    background-color: #424242a8;
}

#depfto{
    mix-blend-mode: screen;
}

.contato{
    gap: 50px;
    padding: 2%;
    justify-content: center;
    display: flex;
}

.cardContato{
    list-style: none;
    text-align: center;
    justify-content: center;
    border-radius: 40px;
    padding: 5%;
    width: 0 auto;
    background-color: #27C5FF;
}

#contatolist{
    list-style: none;
}

.titleContato{
    list-style: none;
}

.midias{
    justify-content: center;
    display: flex;
    margin-top: 25px;
    gap: 25px;
}

#contatofoto{
    mix-blend-mode: screen;
}

footer{
    text-align: center;
}
.container {
  position: relative; /* Define o limite para o elemento absoluto */
  display: inline-block;
}

.container img {
    background-color: #303030;
    display: block;
    width: 100vw;
    height: auto;
}

.texto-por-cima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
}

#footerimg{
    mix-blend-mode: multiply;
}
